# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Dados locais do projeto
data/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.pytest_cache/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Ruff / mypy / pytype
.ruff_cache/
.mypy_cache/
.pytype/